.myLoader__wrapper {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.myLoader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed teal;
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(340deg) scale(1.5);
    }
}
